/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
  display: inline-block;
  padding: var(--Small) var(--Large);
  margin: 0;
  font-size: 1rem;
	font-weight: 700;
  color: var(--White);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--BlueLight);
  border: none;
	border-radius: 4px;
  transition: all 0.35s linear;
	box-shadow: 0 4px 13px 0 rgba(0,0,0,0.27);

  &:hover,
  &:focus {
		text-decoration: none;
    background-color: var(--Blue);
  }

	&.is-white {
		color: var(--Blue);
		background-color: var(--White);

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Blue);
		}
	}

	&.is-painted {
		color: var(--White);
		background-color: transparent;
		box-shadow: none;
		position: relative;
		text-transform: uppercase;
		z-index: 0;

		&:hover,
		&:focus {
			&:before {
				background-image: url('../images/brushstroke-hover.png');
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			background-image: url('../images/brushstroke.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100%;
			height: 160%;
			transform: translate(-50%, -50%);
			transition: all 0.35s linear;
		}
	}

	&.is-text-link {
		color: var(--BlueLight);
		background-color: transparent;
		text-decoration: underline;
		box-shadow: none;
		padding: 0;

		&:hover,
		&:focus {
			color: var(--Blue);
		}
	}
}