/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  LISTS
\*---------------------------------------*/
form {
	& ul.gform_fields {
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		&>li {
			width: 100%;
			position: relative;
			margin: 1em 0 0 0;
			padding-left: 0;
			background-image: none;

			&.gf_invisible {
				max-height: 0;
				overflow: hidden;
			}

			&.gf_left_half {
				@media(--phone) {
					width: 48%;
					margin-right: 2%;
				}
			}

			&.gf_right_half {
				@media(--phone) {
					width: 48%;
					margin-left: 2%;
				}

				&+li {
					clear: both;
				}
			}
		}
	}

	& .gform_footer {
		margin-top: 40px;
	}
}

/*---------------------------------------*\ 
	HIDDEN FIELDS
\*---------------------------------------*/
.gform_validation_container,
.gfield_visibility_hidden,
.hidden_sub_label {
	display: none !important;
}

/*---------------------------------------*\ 
	HTML
\*---------------------------------------*/
.gfield_html {
	margin-top: 2em;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&>*:not(hr):first-child {
		margin-top: 0;
	}

	&>*:not(hr):last-child {
		margin-bottom: 0;
	}
}

/*---------------------------------------*\
  LABELS
\*---------------------------------------*/
form label {
	margin-bottom: var(--xSmall);
	font-size: 14px;
	font-weight: 700;

	& span.gfield_required {
		display: none;
	}
}

ul.gform_fields>li:not(.gfield_contains_required)>label:not(.file-upload-label) {
	&::after {
		display: inline-block;
		margin-left: 0.35em;
		font-size: 0.875em;
		content: '(optional)';
	}
}

.gfield_description,
.ginput_counter,
.screen-reader-text {
	font-size: 0.875em;
	line-height: 1.5;
}

.hidden_label>label {
	display: none;
}

/*---------------------------------------*\
  INPUTS
\*---------------------------------------*/
input {
	width: 100%;
	padding: 1em 1.5em;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	box-shadow: none;
	background-color: var(--GreyLight);
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
	width: 100%;
	padding: 1em 1.5em;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	box-shadow: none;
	background-color: var(--GreyLight);
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
	width: 100%;
	padding: 1em 3em 1em 1.5em;
	box-shadow: none;
	background-color: var(--GreyLight);
	border: none;
	border-radius: 4px;
	appearance: none;
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: 98%;
	background-size: 2em;

	&.has-placeholder {}
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
	margin: 0;
	padding: .5em 0;

	& li {
		display: block;
		margin: 0;
		padding-left: 0;
		background-image: none;

		& label {
			margin-left: 1em;
			padding-left: 0;
			position: relative;
			top: -2px;
			font-weight: normal;
			font-size: 16px;
		}

		& input[type="radio"] {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			margin: 0 .25em -6px .5em;
			vertical-align: baseline;
			appearance: none;
			background-color: var(--GreyLight);
			border: none;
			position: relative;

			&:checked {
				background-color: var(--GreyLight);

				&:after {
					content: '';
					position: absolute;
					background-image: none;
					background-color: var(--BlueLight);
					width: 14px;
					height: 14px;
					border-radius: 25px;
					top: 5px;
					left: 5px;
				}
			}
		}
	}
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
ul.gfield_checkbox {
	margin: 0;
	padding: .5em 0;

	& li {
		display: block;
		margin: 0;
		padding-left: 0;
		background-image: none;

		& label {
			margin-left: 1em;
			padding-left: 0;
			position: relative;
			top: -2px;
			font-weight: normal;
			font-size: 16px;
		}

		& input[type="checkbox"] {
			width: 24px;
			height: 24px;
			border-radius: 5px;
			margin: 0 .25em -6px .5em;
			vertical-align: baseline;
			appearance: none;
			background-color: var(--GreyLight);
			position: relative;

			&:checked {
				background-color: var(--Green);
				border-color: var(--Green);

				&:after {
					content: '';
					position: absolute;
					background-image: url('../images/checkmark.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: 16px;
					width: 16px;
					height: 16px;
					top: 4px;
					left: 4px;
				}
			}
		}
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/
li:not(.gfield_contains_required)>label.file-upload-label {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		font-size: 0.875em;
		text-transform: lowercase;
		content: '(optional)';
		transform: translateX(calc(100% + 4px));
	}
}

label.file-upload-label::after {
	display: table;
	padding: var(--Small) var(--Large);
	margin: var(--Small);
	margin-bottom: 2em;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	content: 'Upload File';
	background-color: var(--Grey);
	border: none;
	appearance: none;
}

label.file-upload-label.file-uploaded::after {
	content: 'Change File';
}

input[type="file"] {
	display: none;
	opacity: 0;

	&+span {
		position: absolute;
		top: 42px;
		left: 160px;
	}
}

/*---------------------------------------*\ 
	SMART FIELDS
\*---------------------------------------*/
.ginput_complex,
.clear-multi {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	& .name_first,
	& .name_middle,
	& .name_last {
		width: 31%;
	}

	&.no_middle_name .name_first,
	&.no_middle_name .name_last {
		width: 48%;
	}

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 31%;
	}

	& .gfield_time_hour,
	& .gfield_time_minute,
	& .gfield_time_ampm {
		width: 31%;
	}

	& span label:last-child,
	& label {
		display: block;
		padding: 0 0 0 8px;
		margin: 6px 0 12px 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.5px;
	}

	& i {
		display: none;
	}
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.ginput_container_consent {
	margin-top: 0.35em;

	& input {
		width: auto;
	}

	& label {
		position: relative;
		top: -1px;
		text-transform: none;
	}
}

/*---------------------------------------*\
  INVALID
\*---------------------------------------*/
li.gfield_error {
	& label {
		color: var(--Red);
	}

	& input {
		border-bottom: 5px solid var(--Red);
		background-image: url(../images/input_error.svg);
		background-repeat: no-repeat;
		background-position: 98%;
		background-size: 1.5em;
	}

	& textarea {
		border-bottom: 5px solid var(--Red);
		background-image: url(../images/input_error.svg);
		background-repeat: no-repeat;
		background-position: 98%;
		background-size: 1.5em;
	}

	& .validation_message {
		color: var(--Red);
	}
}

/*---------------------------------------*\
  STRIPE CC
\*---------------------------------------*/
.ginput_container_creditcard .ginput_full {
	width: 100%;

	& .StripeElement {
		width: 100%;
		padding: 1em 1.5em;
		height: auto;
		border: none;
		border-radius: 4px;
		font-size: 18px;
		box-shadow: none;
		background-color: var(--GreyLight);
	}
}

#field_4_11 select {
	@media(--phone) {
		width: 31%;
	}
}

.gfield_price,
.gfield_total {
	& label::after {
		display: none !important;
	}
}

.gfield_total {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 20px;

	& label {
		font-size: 20px;
		margin: 0 var(--Small) 0 0;
	}
}

#field_4_12 .ginput_complex {
	justify-content: flex-start;

	&>span:first-child {
		margin-right: var(--Medium);
	}
}