/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul, ol {
  list-style: none;
	padding-left: 0;

  & li {
    position: relative;
		font-size: 16px;
		background-size: 10px;
		background-position: 0 12px;
		background-repeat: no-repeat;
		line-height: 2.5;
		padding-left: 30px;
  }
}

ul {
	& li {
		background-image: url('../images/list-bullet.svg');
	}
}

ol {
	counter-reset: number-counter;

	& li {
		counter-increment: number-counter;

		&:before {
			content: counter(number-counter);
			position: absolute;
			left: 0;
			color: var(--Black);
			font-weight: 700;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-3-columns {
  column-count: 1;

  @media(--phone) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 3;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-4-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }

  @media(--tablet) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 4;
  }
}
