/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v13-latin-regular.woff2') format('woff2'),
		url('../fonts/karla-v13-latin-regular.woff') format('woff');
	font-display: swap;
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/karla-v13-latin-italic.woff2') format('woff2'),
		url('../fonts/karla-v13-latin-italic.woff') format('woff');
	font-display: swap;
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v13-latin-700.woff2') format('woff2'),
    url('../fonts/karla-v13-latin-700.woff') format('woff');
	font-display: swap;
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/karla-v13-latin-700italic.woff2') format('woff2'),
		url('../fonts/karla-v13-latin-700italic.woff') format('woff');
	font-display: swap;
}

.lexia-light {
  font-family: 'Lexia', serif;
  font-style: normal;
  font-weight: 300;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	font-weight: 700;
}

h1,
h2 {
	font-family: 'Lexia', serif;
  font-style: normal;
  font-weight: 300;
}

h1 {
	font-size: 50px;

	@media(--tablet) {
    font-size: 80px;
  }
}

h2 {
	font-size: 30px;

	@media(--tablet) {
    font-size: 36px;
  }
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
	color: var(--Blue);
	text-transform: uppercase;
	letter-spacing: 0.72px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
p {
	font-size: 16px;
	color: var(--GreyDark);

	&.subhead {
		color: var(--Grey);
		font-size: 13px;

		@media(--phone) {
			font-size: 20px;
		}

		@media(--tablet) {
			font-size: 26px;
		}
	}

	& a {
		color: var(--BlueLight);
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	margin: var(--xLarge) auto;
	background-color: var(--Red);
	max-width: 309px;
	height: 6.65px;
	border: none;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 2em auto;
	width: 90%;
	max-width: 800px;
	border-left: 6.65px solid var(--Red);
	padding: 0 var(--Large);
	color: var(--GreyDark);
	font-size: 1.375em;

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		color: inherit;
		font-size: inherit;
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}