/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-image: url('../images/yellow-pattern.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	& .copyright {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: .5em 1em;

		@media(--tablet) {
			justify-content: space-between;
		}

		& > div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			@media(--tablet) {
				justify-content: space-between;
			}
		}

		& p {
			font-size: 14px;
			color: var(--Black);
			margin: 1em 0 0;

			@media(--tablet) {
				margin: 1em 0;
			}

			& .cookie-open {
				cursor: pointer;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0;

			@media(--tablet) {
				margin: 1em 0;
			}

			& li {
				background-image: none;
				padding-left: 5px;
				font-size: 14px;
				line-height: 1.5;

				&:after {
					content: '|';
					padding-left: 5px;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}

				& a {
					color: var(--Black);
				}
			}
		}

		& #element5-credit {
			& a {
				display: flex;
			}
		}
	}
}