/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	& h1 {
		text-align: center;
		font-size: 32px;
		line-height: 1.2;
		max-width: 90%;
		margin: 0 auto;

		@media(--phone) {
			font-size: 48px;
		}

		@media(--tablet) {
			font-size: 56px;
		}

		&+p {
			text-align: center;
			font-size: 24px;
			line-height: 1.3;
			max-width: 90%;

			margin: 16px auto 0 auto;

			@media(--phone) {
				font-size: 24px;
			}

			@media(--tablet) {
				font-size: 32px;
			}
		}
	}
}