/*-----------------------------------*\
	2 COLUMNS
\*-----------------------------------*/
.editor-2-column {
  & > div {
    width: 100%;

    & > *:first-child {
      margin-top: 0;
    }
  }

  @media(--tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    & > div {
      width: 45%;
    }
  }
}

/*-----------------------------------*\
	3 COLUMNS
\*-----------------------------------*/
.editor-3-column {
  & > div {
    width: 100%;

    & > *:first-child {
      margin-top: 0;
    }
  }

  @media(--tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    & > div {
      width: 31%;
    }
  }
}
