/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #FFFFFF;
	--GreyLight: #F2F2F2;
	--Grey: #939394;
	--GreyDark: #4E4E4E;
	--Black: #252525;
	--Blue: #0A5B9B;
	--BlueLight: #299CE3;
	--Yellow: #F5AB00;
	--Green: #60C20F;
	--Red: #ED6A5A;
}