/*----------------------------------------------------------------*\
	SINGLE EVENT TEMPLATE
\*----------------------------------------------------------------*/
body.single-event {
	& main>article {
		margin: var(--xLarge) auto 0;
	}

	& header.post-head {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		border-bottom: none;
		position: relative;
		min-height: 200px;
		margin-bottom: 6em;

		@media(--tablet) {
			margin-bottom: 0;
		}

		& h1 {
			margin: 2rem 0 0;
			width: 100%;
			text-align: center;
			padding: 0 1rem;
			line-height: 1.2;
			font-size: 28px;

			@media(--phone) {
				font-size: 38px;
			}

			@media(--tablet) {
				font-size: 80px;
			}
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0 1.5em;

			& svg {
				width: 17px;
				height: 17px;
				margin-right: .5em;

				@media(--phone) {
					width: 20px;
					height: 20px;
				}

				@media(--tablet) {
					width: 28px;
					height: 28px;
					margin-right: 1em;
				}
			}

			&.countdown {
				width: 100%;
				margin: 24px 0 0 0;

				@media(--tablet) {
					margin: 24px auto 64px auto;
				}

				& .counter {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					text-align: center;
					width: 100%;
					max-width: 600px;
					margin: 0 auto;

					&>div {
						width: 50%;

						@media(--phone) {
							width: 25%;
						}

						& p {
							font-size: 23px;
							color: var(--Blue);
							margin: 0;

							& span {
								font-size: 65px;
								color: var(--Black);
								display: block;
								line-height: 1.2;
							}
						}
					}
				}
			}

			&.callout {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 120%);
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				width: 232px;
				height: 232px;
				border-radius: 50%;
				background-image: url('../images/yellow-pattern.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				padding: 0;

				@media(--tablet) {
					top: -13em;
					bottom: inherit;
					left: inherit;
					right: 4em;
					transform: inherit;
				}

				& a>div {
					display: flex;
					flex-wrap: wrap;
					align-content: center;
					justify-content: center;
					text-align: center;
					width: 202px;
					height: 202px;
					border-radius: 50%;
					background-color: var(--White);

					& svg {
						width: 22px;
						height: 21px;
						margin-right: 0;
					}

					& h4 {
						margin: .7rem 0;
						width: 100%;
						text-transform: none;
					}

					& p {
						margin: 0;
						font-size: 14px;
						line-height: 18px;
						width: 67%;
					}
				}
			}
		}
	}

	& .background-img {
		width: 100%;
		height: 320px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		z-index: -1;

		@media(--phone) {
			height: 540px;
		}

		& svg {
			position: absolute;
			top: -1%;
			left: -1%;
			width: 102%%;
		}
	}

	& section.why-attend {
		max-width: 800px;
		margin-top: -12em;
		background-color: var(--White);
		box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);
		position: relative;
		width: 90%;

		&>div {
			padding: 2em;

			@media(--tablet) {
				padding: 3em 6em;
			}

			& h4 {
				text-align: center;
				margin-top: 0;
			}

			& h2 {
				margin: 0;
				text-align: center;
				line-height: 1.2;
			}
		}

		&>img {
			position: absolute;
			top: -7em;
			right: -13em;
			z-index: -1;

			@media(--phone) {
				top: -11em;
				right: -13em;
			}

			&:first-of-type {
				top: inherit;
				bottom: -7em;
				left: -9em;
				right: inherit;

				@media(--phone) {
					bottom: -13em;
					left: -13em;
				}
			}

			&:last-of-type {
				transform: rotate(180deg);
			}
		}
	}

	& section.speakers {
		background-color: var(--GreyLight);
		margin-top: 10em;
		margin-bottom: 0;
		position: relative;
		padding: 2em 2em 6em;

		&>div {
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-top: 3em;

			& img {
				width: 142px;
				position: absolute;
				top: -71px;
				left: 50%;
				transform: translate(-50%);

				&:first-of-type {
					transform: translate(-90%);
				}

				&:last-of-type {
					transform: translate(-10%);
				}
			}

			& h2 {
				width: 100%;
				text-align: center;
				margin: 2rem auto .5rem;
			}

			& h4 {
				width: 100%;
				text-align: center;
				margin: 0;
			}

			&>div {
				margin-top: 2em;
				margin-bottom: 0;
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 0 64px;

				@media(--tablet) {
					grid-template-columns: 1fr 1fr;
				}

				& p:first-of-type {
					margin-top: 0;
				}
			}
		}
	}

	& section.panel {
		background-color: var(--White);
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		padding: 2em;

		&>div {
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-top: 3em;
			padding-bottom: 3em;

			& img {
				width: 142px;
				position: absolute;
				top: -71px;
				left: 50%;
				transform: translate(-50%);
			}

			& h2 {
				width: 100%;
				text-align: center;
				margin: 2rem auto .5rem;
			}

			& h4 {
				width: 100%;
				text-align: center;
				margin: 0;
			}

			&>div {
				margin-top: 2em;
				margin-bottom: 3em;
				column-count: 1;

				@media(--tablet) {
					column-count: 2;
				}

				& p:first-of-type {
					margin-top: 0;
				}
			}
		}
	}

	& section.media-text {
		margin: 0 auto;
		align-items: initial;

		&>div {
			width: 100%;

			@media(--laptop) {
				width: 50%;
			}

			& img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			&.content {
				padding: 3em;
				display: flex;
				flex-wrap: wrap;
				align-content: center;

				@media(--phone) {
					padding: 4em;
				}

				& ul {
					margin: 0;
					width: 100%;
				}
			}
		}
	}

	& section.ticket {
		margin: 4em auto 0;

		@media(--tablet) {
			margin: 5em auto;
		}

		& .ticket-card {
			max-width: 957px;
			width: 90%;
			margin: 0 auto;
			box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);
			display: flex;
			flex-wrap: wrap;
			position: relative;
			padding: 0;

			& .title {
				width: 100%;
				padding: calc(1em + 40px) 1em 1em 1em;
				position: relative;

				@media(--tablet) {
					width: 75%;
					padding: 1em 2em 1em calc(2em + 32px);
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					height: 50px;
					background-image: url('../images/red-pattern-horizontal.jpg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;

					@media(--tablet) {
						width: 32px;
						height: 100%;
						background-image: url('../images/red-pattern.jpg');
					}
				}

				& h2 {
					margin: 0;
				}

				& p {
					margin: 0;
				}

				& ul.includes {
					display: flex;
					flex-wrap: wrap;

					& li {
						width: 100%;

						@media(--tablet) {
							width: 50%;
						}
					}
				}
			}

			& .price {
				width: 100%;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-content: center;
				justify-content: center;

				@media(--tablet) {
					width: 25%;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					z-index: -1;
					width: 80%;
					height: 1px;
					background-color: var(--Black);
					transform: translateX(-50%);

					@media(--tablet) {
						top: 50%;
						left: 0;
						width: 1px;
						height: 70%;
						transform: translateY(-50%);
					}
				}

				& h2 {
					font-size: 55px;
					width: 100%;
					text-align: center;
					margin: 0;
				}

				& a.button {
					padding: 0;
				}
			}

			& .registration {
				width: 100%;
				padding: 0 1em 2em 1em;

				@media(--tablet) {
					padding: 0 3em 3em 3em;
				}

				& h3 {
					margin-bottom: 0;
				}
			}
		}
	}

	& section.additional {
		padding: 2em;

		&>div {
			max-width: 957px;
			margin: 0 auto;

			& h2 {
				margin: 0;

				@media(--tablet) {
					margin: inherit;
				}
			}
		}
	}

	& .conclusion {
		height: 600px;
		z-index: 2;

		&>div {
			background-color: var(--White);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			padding: 2em;
			box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);
			max-width: 800px;
			width: 90%;
			margin-top: 2em;

			@media(--tablet) {
				padding: 3em 6em;
			}

			& h2 {
				margin: 0;
			}

			& p {
				text-align: left;
			}

			& a.button {
				margin: 2em 0;
			}
		}
	}
}

section.map {
	margin: 0;
	padding: 96px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;

	&:last-child {
		margin-bottom: -64px;
	}

	&>div {
		max-width: 960px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		width: 90%;

		&>div {
			max-width: 284px;
			width: 90%;
			margin: 0 auto;
			background-color: var(--White);
			padding: 2em 2em 4em;
			position: relative;
			box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);

			& h4 {
				margin: 0;
			}

			& a.button {
				padding: 0;
				position: absolute;
				bottom: 2em;
			}

			&+div {
				margin-top: 56px;

				@media(--phone) {
					margin-top: 0;
				}
			}
		}
	}
}