/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 50px;
		background-image: url('../images/yellow-pattern.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	& nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 90vw;

		@media(--tablet) {
			justify-content: space-between;
		}

		& a {
			max-width: 300px;

			& svg {
				margin-top: 1.5em;
			}
		}

		& ul {
			display: flex;
			justify-content: space-between;
			padding: 0;
			align-items: center;
			margin: 0;
			list-style: none;

			& li {
				padding: var(--Small) var(--Medium);
			}
		}
	}
}